body{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  position: relative;
  background-color: rgba(0, 0, 0, 0.418);
}

#learder{
  width: 400px;
  height: 600px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.911);
}

#user-name{
  background-color: rgba(0, 0, 0, 0.699);
  position: absolute;
  width: 100%;
  height: 100%;
  form{
    margin-top: 40vh;
    margin-left: 35vw;
  }
}

.text-c{
  text-align: center;
}

#learder{
  h1{
    color: whitesmoke;
  }
  h4{
    width: 100%;
    border-bottom: 1px solid rgb(94, 94, 94);
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    span{
      width: 30%;
      background-color: rgba(255, 255, 255, 0.247);
    }
  }
}